.container{
    display: flex;
   
    height: 800px;
    width: 98%;
    color: white;
    margin-top: 30px;
}
.left{
    padding: 10px;
    width: 30%;
    height: 100%;
  
    text-align: center;
}
.right{
    padding: 20px;
    width: 70%;
    height: 100%;
    border: 1px solid black;
}
.green{
    width: 80%;
    height: 40px;
    margin: auto;
    background-color: rgb(64, 234, 64);
}
.veb{
    height: 40px;
    margin: auto;
    width: 80%;
    background-color: blueviolet;
}
.pink{
    height: 40px;
    margin: auto;
    width: 80%;
    background-color: rgb(226, 43, 174);
}
.blue{
    color: blue;
}
.pink1{
    color: pink;
}


.mySelect{
    font-size: 25px;
    padding: 5px 8px;
    background-color: black;
    color: white;
}


#inputbox{
    font-size: 55px;
}